<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Welcome to home</h1>
   <%= user %>
    <form action="/home" method="post">
    
    <input type="submit" value="logout">
    </form>
</body>
</html>
